.file_input_data_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.file_input_data_body {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.file_input_data_body > p:first-child {
  flex-grow: 1;
  flex-shrink: 0;
  color: black;
  font-weight: bold;
}

.file_input_data_body > p:last-child {
  color: brown;
  font-weight: bold;
  font-weight: normal;
}

.file_input_output_path_container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  overflow: hidden;
}

.file_input_output_path_container > svg, .file_input_output_path {
  color: brown;
}

.file_input_output_path_container > svg {
  transition: all 0.2s ease;
  cursor: pointer;
}

.file_input_output_path_container > svg:hover {
  transition: all 0.2s ease;
  color: rgb(99, 22, 22);
  cursor: pointer;
}

.file_input_output_path {
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-weight: normal;
}