.file_input_label_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  gap: 1rem;
  transition: all 0.2s ease;
}

.file_input_label_container > svg, p {
  color: silver;
  transition: all 0.2s ease;
}

.file_input_label_container:hover {
  border: 1px solid brown;
  background-color: rgba(165, 42, 42, 0.1);
  transition: all 0.2s ease;
}

.file_input_label_container:hover > p {
  color: brown;
  transition: all 0.2s ease;
}

.file_input_label_container:hover > svg {
  color: brown;
  transition: all 0.2s ease;
}